body {
    padding-top: 70px;
}
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80");
    color: #ffffff;
}


.navbar-inverse {
    background: #2c3e50;
}

.navbar-inverse .navbar-nav li a {
    color:white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.container {
    width:100%;
}

.container .jumbotron{
    height: 600px;
}

.container .jumbotron h1{
    font-size: 9em;
}

@media only screen and (max-width: 590px) {
    .container .jumbotron h1 {
        font-size: 6em;
    }

}

@media only screen and (max-width: 470px) {
    .container .jumbotron h1 {
        font-size: 4em;
    }

    .container .jumbotron {
        height: 350px;
    }

}

@media only screen and (min-width: 590px) {
    .container .jumbotron p {
        font-size: 2em;
    }

}

#footer {
    padding: auto;
}